<div>
	<h2>
		<marquee>Hello Investors</marquee>
	</h2>
	<marquee>...Please be patient as we are lauching soon</marquee>

	<pre>
<b>
	here is article/text/blog
</b>
	<b>
		here is article/text/blog
	</b>
		<b>
			here is article/text/blog
		</b>
			<b>
				here is article/text/blog
			</b>
		<b>
			here is article/text/blog
		</b>
	<b>
		here is article/text/blog
	</b>
<b>
	here is article/text/blog
</b>
	</pre>
</div>
