<style>
	body{
		backdrop-filter: blur(8px);
	}
</style>

<div class="signin_div">

	<form class='form airtime' action="/users/signin" method="POST">
	Sign in
	<br>
		<input class="input" type="email" name="email" placeholder="Email">

		<input class="input" type="password" name="password" placeholder="password">

		<button class="button input" type="submit">Sign in</button>
		<a href="" class="button">
			Sign in with Google
		</a>
	</form>
</div>
