<style>
	body{
		backdrop-filter: blur(8px);
	}
</style>

<div class="signyp_div">
	<form class='form signup' action="/users/settings/changePassword" method="POST">
	Update password

		<input class="input" type="hidden" name="email" value="<%=currentUser.email%>" required>

		<input class="input" type="password" name="password" placeholder="current password" required>

		<input class="input" type="password" name="newPassword" placeholder="new password" required>

		<input class="input" type="password" name="confirmPassword" placeholder="confirm password" required>

		<button class="button" type="submit">Update</button>
	</form>
</div>
