<div>
		<a class="set" href="/users/settings/edit">Edit your profile</a>

		<a class="set" href="/users/settings/changePassword">Change password</a>
		
		<a class="set" href="/users/delete" onclick="confirm('Are you sure u want to delete your account?')">Delete Account</a>
</div>